<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>FloatPR Backend</title>
  </head>
  <body>
    <header>
      <h1>Backend</h1>
    </header>

    <main>
      <button onclick='hitChallonge()'>Click</button>
    </main>
    <script src='../scripts/hitChallonge.js'></script>
  </body>
</html>